.weather-box {
    background-color: #D8D9DA;
    border-radius: 12px;
    padding: 20px;
    height: 350px;
    width: 872px;
    margin: 20px auto;
    color: #272829;
}

.weather-main-box {
    display: flex;
    margin-bottom: -50px;
    height: 300px;
    flex-wrap: wrap;

}



.weather-temperature-box {
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
}

.weather-icon {
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.weather-location {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.weather-date {
    font-size: 30px;
    color: #272829;
    margin-bottom: 15px;
    opacity: 60%;
}

.weather-description {
    font-size: 20px;
    color: #272829;
    line-height: 1.0;
    opacity: 60%;
}

.weather-temperature {
    font-size: 70px;
    margin-top: 10px;
    font-weight: bold;
}

.weather-main-info-box {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0;
    margin-top: 60px;
    box-sizing: border-box;
}


.time-box {
    display:flex;
    justify-content: center;
    width: 872px;
    font-size: 40px;
    margin-top: -20px;
}
