

.geolocation-button {
    width: 275px;
    appearance: none;
    border-radius: 6px;
    border: 1px solid #61677A;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;

}

.geolocation-button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.geolocation-button:disabled {
    background-color: #D8D9DA;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.geolocation-button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.geolocation-button:focus {
    outline: 1px transparent;
}

.geolocation-button:before {
    display: none;
}

.geolocation-button-box {
    display: flex;
    justify-content: center; /* Center horizontally */
}



